<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.foodbear.foodbearapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherbear"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcherbear_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Foodbear">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity android:name="app.foodbear.foodbearapp.PagarActivity" />
        <activity android:name="app.foodbear.foodbearapp.ProductoDescipcionActivity" />
        <activity android:name="app.foodbear.foodbearapp.AjustesActivity" />
        <activity android:name="app.foodbear.foodbearapp.avisoApp" />
        <activity android:name="app.foodbear.foodbearapp.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="app.foodbear.foodbearapp.InicioActivity" />
        <activity android:name="app.foodbear.foodbearapp.SignUpActivity" />
        <activity android:name="app.foodbear.foodbearapp.LoginActivity" />
    </application>

</manifest>